
.home {
    background-image: url('../image/mainpage.jpg');
    background-repeat: no-repeat;
    background-size: 5920px;
    font-size: 50px
}
p, .name {
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'grand hotel';
        src: url('../font/grandhotel-regular-webfont.woff') format('woff'),
        url('../font/grandhotel-regular-webfont.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}
body {
    font-family: 'grand hotel', Georgia, 'Times New Roman', Times, serif;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
}

.logo {
    width: 150px;
    margin-right: 10px;
}

.name {
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
    color: aliceblue;
}

nav {
    background: url('../image/lace.png');
    max-width: 100%;
    background-size: contain;
    background-repeat: repeat-x;
    font-weight: normal;
}
nav ul {
        display: inline-flex;
        justify-content: end;
        margin: 10px;
        padding: 15px;
        list-style-type: none;

}
 nav ul li {
            margin: 0 20px;
 }

 nav ul li a {
        display: inline-block;
        color: white;
        padding: 3px 12px;
        text-decoration: none;
        border-radius: 50px;
        background-color: #a8b5d0;
        margin-bottom: 30%;
        font-size: 22px;
  }