/* Practice CustomFonts Style Sheet */

.websafe {
    font-family: "Ibarra Real Nova", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.google {
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-style: normal;
}
