
header {
    background-color: #A8D6EB;
    padding: 10px;
}
h1{
    font-family: 'Anton', sans-serif;
}

#value {
    background-color: #AEF0CC;
    padding: 10px;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.2em;
}
#example {
    background-color: #E3ADB9;
    padding: 10px;
}
p.none{
    text-decoration: none;
}
p.underline {
    text-decoration: underline;
}
p.overline {
    text-decoration: overline;
}
p.line-through {
    text-decoration: line-through;
}