body{
    background: #FF0000;
    color: #FFFFFF;
}
@media screen and (min-width: 600px) {
    body {
        background: #0000FF;
    }
        div

{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 15px;
}

    }
