/* Practice CustomFonts Style Sheet */

@font-face {
    font-family: 'Alex Brush';
    src: url('../fonts/alexbrush-regular-webfont.woff2') format('woff2'),
        url('../fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
}
body {
    font-family: 'Alex Brush', cursive; 
}